body {
  display: block;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
  }
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}
header .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 .flex-container img {
  height: 50px;
  padding-left: 10px;
}
 .flex-container .nav {
  flex-grow: 1;
  text-align: right;
}
.nav span {
 padding: 20px 10px;
 text-decoration: underline;
 display: inline-block;
}
body .main {
 display: block;
 padding-top: 69px;
 opacity: 0.9;
 width: 1200px;
 margin: auto;
}
.main #mission {
 height: 700px;
 padding-top: 70px;
 background-image: url("../img/img-mission-background.jpg");
}
body .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission .content {
  margin: auto;
  width: 100%;
  background: black;
}
.content h2 h4{
  margin: 0;
  padding: 10px;
  }
.main #store {
  display: block;
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
#store h2 h4 {
  margin: 0;
  padding: 10px;
}
#store .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container .item img {
  display: block;
  height: 200px;
  margin: 10px;
}
.item img span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
.main #locations {
    display: block;
    height: 500px;
    padding-top: 70px;
    background-image: url("../img/img-locations-background.jpg");
}
#locations .flex-container {
  margin: auto;
  width: 1100px;
}
#locations h2 {
  display: block;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
.flex-container .locations {
    padding-top: 5px;
}
.locations .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-container .location {
    opacity: 1.0;
padding: 10px;
margin: 5px 20px;
background-color: black;
flex-basis: 280px;
display: flex;
flex-direction: column;
justify-content: center;
  }
.location h3 {
  display: block;
font-size: 1.17em;
margin: 0;
padding: 10px;
}

body #contact {
  display: block;
  height: 200px;
}
#contact h2  {
  margin: 0;
padding: 10px;
}
#contact h5{
  display: block;
font-size: 0.83em;
    font-weight: bold;
}
